nav {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: .2rem solid #45b34a;
}

img {
  display: block;
  float: left;
  height: 3rem;
  margin: 0.5rem
}

/* @media (min-width: 600px) {
} */